html {
	padding:0;
	margin:0;
}

body {
	background-color: teal;
}

hr {
	box-shadow: 0;
	border-color: lightblue;
}

h3 {
	font-family: Cinzel;
	color: #fff;
}

h5 {
	font-family: Dosis;
	color:#fff;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration:none;
}

/*main nav tab*/
#v-pills-tab {
	position:fixed;
}

#v-pills-tab a{
		font-family: Dosis;
		color:#fff;
	}

#v-pills-tab a:hover {
		color:lightblue;
	}

.col-9 {
	padding-right: 0;
}

/*----------------------------------ALL MEDIA QUERIES BREAKPOINTS------------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
	body {
		text-align: center;
	}

	.container {
		min-width: 100%;
	min-height:33rem;
	margin:2rem 1rem;
	}

	/*name, img*/
	#profilephoto {
		max-height: 7rem;
		max-width: 7rem;
	    border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#name h1,p {
		color: #fff;
		text-align: center;
		font-family: 'Sacramento', cursive;
		font-size: 3rem;
		margin: 0;
	}

	#name p{
		font-size: 2rem;
	}

	#name hr {
		box-shadow: none;
		border-top: 0.1rem dotted lightblue;
		max-width: 20%;
		border-top-width: 4px;
	}

	/*education*/
	#education {
		margin-top: 3rem;
		color: #fff;
	}

	#education h1,h4 {
		font-family: Cinzel;
		font-size: 1.5rem;
	}

	#education h4 {
		font-size: 1rem;
	}

	#education h5 {
		font-size: 1rem;
	}

	#education ul li {
		font-family: Dosis;
		text-align: justify;
	}

	/*Skills*/
	#skills {

	}

	/*Skills (cards)*/
	.card-img {
		width: 8rem;
		display: inline-block;
		padding: 0.5rem;
	    margin: 1rem 1rem;
	    background-color: #fff;
	}

	.card-img {
		transition: transform .5s;
	}

	.card-img:hover {
		box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
		transform: scale(1.3);
	}

	/*Project*/
	.project {
		border:1px solid #fff;
		border-radius: 6px;
		transition: transform .5s;
		padding: 1rem;
		margin: 1rem auto;
	}

	.project:hover {
		box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
	}

	/*Contact ME page*/
	#contact-info {
		margin-top: 2rem;
	}

	#contact-info img {
		max-width: 1rem;
		max-height: 1rem;
	}

	.contact {
		color:#fff;
		font-family: Comfortaa;
		padding: 1rem;
	}

	.contact:hover {
		color: lightblue;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	/*Footer*/
	footer {
		background-color: black;
	}

	.port {
		font-family: 'Comfortaa', cursive;
		color: darkgrey;
		text-align: center;
		font-size: 0.5rem;
	}

	footer ul {
		list-style-type: none; /* removing bullets */
		margin-bottom: 0;
	}

	footer ul li {
		display: inline-block;	
		margin: 1rem 1rem 0 1rem;
		padding-right: 1rem;
		transition: transform .5s;
	}

	footer ul li a {
		color:darkgrey;

	}

	footer ul li a:hover {
		color: #fff;
		text-decoration: none; /* removing underline */
		transform: scale(2);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px to 1199px) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
body {
		background-color: blue;
	}
	.container {
	min-height:33rem;
	margin:2rem 1rem;
	}

	#v-pills-tab a{
		font-family: Dosis;
		color:#fff;
	}

	#v-pills-tab a:hover {
		color:lightblue;
	}

	/*welcome page*/
	#welcome h1{
		margin-top: 11rem;
		text-align: center;
		font-family: 'Dosis';
		font-size: 5rem;
		color: #fff;
	}

	#welcome hr {
		box-shadow: none;
		border-top: 0.1rem dotted lightblue;
		max-width: 82%;
		border-top-width: 6px;
	}

	/*name, img*/
	#profilephoto {
		max-height: 10rem;
		max-width: 10rem;
	    border-radius: 50%;
	    float: left;
	}

	#name h1,p {
		color: #fff;
		text-align: center;
		font-family: 'Sacramento', cursive;
		font-size: 6rem;
		margin: 0;
	}

	#name p{
		font-size: 3rem;
	}

	#name hr {
		box-shadow: none;
		border-top: 0.1rem dotted lightblue;
		max-width: 20%;
		border-top-width: 4px;
	}

	/*education*/
	#education {
		margin-top: 4rem;
	}

	#education h1,h4 {
		font-family: Cinzel;
	}

	#education,.project ul li {
		font-family: Dosis;
		color:#fff;
	}

	/*Skills*/
	#skills {

	}

	/*Skills (cards)*/
	.card-img {
		width: 8rem;
		display: inline-block;
		padding: 0.5rem;
	    margin: 1rem 1rem;
	    background-color: #fff;
	}

	.card-img {
		transition: transform .5s;
	}

	.card-img:hover {
		box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
		transform: scale(1.3);
	}

	/*Project*/
	.project {
		border:1px solid #fff;
		border-radius: 6px;
		transition: transform .5s;
		padding: 1rem;
		margin: 1rem auto;
	}

	.project:hover {
		box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.5);
	}

	/*Contact ME page*/
	#contact-info {
		margin-top: 2rem;
	}

	#contact-info img {
		max-width: 1rem;
		max-height: 1rem;
	}

	.contact {
		color:#fff;
		font-family: Comfortaa;
		padding: 1rem;
	}

	.contact:hover {
		color: lightblue;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

	/*Footer*/
	footer {
		align-items: center;
		margin:auto 2rem;
	}

	.port {
		font-family: 'Comfortaa', cursive;
		color: darkgrey;
		letter-spacing: 0.1rem;
		float: left;
	}

	footer ul {
		list-style-type: none; /* removing bullets */
	}

	footer ul li {
		float: right; 	
		padding-left: 2rem;
		transition: transform .5s;
	}

	footer ul li a:hover {
		color: #fff;
		text-decoration: none; /* removing underline */
		transform: scale(2);
	}
}

